#!/opt/plan9/bin/rc -x
#
# requires
#  - 9base
#  - ping
#  - curl
#  - netcat (nc)
#  - dig
# 
PATH=/opt/plan9/bin:$PATH

hosts=(\
	natalian.org:212.13.195.83:hendry@iki.fi:0:0:0:0\
)

fn ok {
	line=$line^' 1'
	html=$html^'<td class="ok">OK</td>'
}

fn fail {
	line=$line^' 0'
	if(~ $1 '1') {
		html=$html^'<td class="fail">FAIL</td>'
		failtext=$failtext^'['^$2^': FAIL]'
	}
	if not
		html=$html^'<td class="na">NA</td>'
}

fn check_host {
	ifs=(':') { pair=`{echo -n $1} }
	host=$pair(1)
	ip=$pair(2)
	contact=$pair(3)
	icmp_required=$pair(4)
	http_required=$pair(5)
	dns_required=$pair(6)
	smtp_required=$pair(7)
	failtext=''
	line=`{date -n}
	now=`{date -u}
	html='<tr><td>'^$"now^'</td>'
# ICMP
	if(ping -c 1 $host >/dev/null >[2]/dev/null)
		ok
	if not {
		sleep 5
		if(ping -c 1 $host >/dev/null >[2]/dev/null)
			ok
		if not
			fail $icmp_required 'ICMP'
	}
# HTTP
	if(curl -I 'http://'^$host --connect-timeout 10 >/dev/null >[2]/dev/null)
		ok
	if not {
		sleep 5
		if(curl -I 'http://'^$host --connect-timeout 10 >/dev/null >[2]/dev/null)
			ok
		if not
			fail $http_required 'HTTP'
	}
# DNS
	if(dig $host | grep -v '^;' | grep A | grep $ip >/dev/null >[2]/dev/null)
		ok
	if not {
		sleep 5
		if(dig $host | grep -v '^;' | grep A | grep $ip >/dev/null >[2]/dev/null)
			ok
		if not
			fail $dns_required 'DNS'
	}
# SMTP
	if(nc -z -w 5 $host 25 >/dev/null >[2]/dev/null)
		ok
	if not {
		sleep 5
		if(nc -z -w 5 $host 25 >/dev/null >[2]/dev/null)
			ok
		if not
			fail $smtp_required 'SMTP'
	}
	echo $line >> 'data/'^$host^'.dat'
	gnuplot 'data/'^$host^'.gnu' > ''^$host^'.png'
	html=$html^'<td><img src="'^$host^'.png"/></td></tr>'
	echo $html >> index.html
	if(~ $failtext '')
		;
	if not
		echo $failtext | mail -s $host $contact
}

cat head.tpl > index.html
for(i in $hosts)
	check_host $i
cat foot.tpl >> index.html
